{% for site, config in wordpress_sites | dictsort if site not in restic_backup_excluded_sites %}
{{ site }}	{{ restic_backup_uploads_paths.get(site, www_root ~ '/' ~ site ~ '/shared/uploads') }}
{% endfor %}
